<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			padding: 0;
			margin: 0;
		}
		.box{
			width: 400px;
			height: 400px;
			border:1px solid #ccc;

		}
		ul li{
			height: 50px;
			line-height: 50px;
			list-style: none;
		}
		li span{
			display: inline-block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body ng-app="app">
	<div class="box" ng-controller="cont">
		<ul>
			<li>单价：{{price}}</li>
			<li><span ng-click="del()">-</span><span >{{txt}}</span><span ng-click="add()">+</span> 		</li>
			<li>总价{{total}}</li>
		</ul>
	</div>
</body>
<script src="js/angular.js"></script>
<script>
	var app=angular.module("app",[]);
	app.controller("cont",function($scope){
		$scope.price=100;
		$scope.txt=1;
		total($scope.txt)
		$scope.del=function(){
			if($scope.txt<=1){
				$scope.txt=1
			}else{
				$scope.txt--
			}
			total($scope.txt)
		}
		$scope.add=function(){
			if($scope.txt>=10){
				$scope.txt=10
			}else{
				$scope.txt++
			}
			total($scope.txt)
		}
		function total(num){
			$scope.total=$scope.txt*$scope.price;
		}
	})
</script>
</html>